@page
@model IndexModel


<h1>@ViewData["Title"]</h1>
<p>Hola, soy Zhi Ming Lei Zhong, tengo 22 años y soy estudiante de la carrera de ingeniería informática en la universidad Castro Carazo. Este portafolio muestra mis proyectos y habilidades.</p>
<h2>Mis Objetivos Profesionales</h2>
<p>Como estudiante de Ingeniería en Informática, mi objetivo profesional es desarrollar una sólida carrera en el ámbito de la tecnología, centrándome en el desarrollo de software y la innovación tecnológica. Mi meta a corto plazo es adquirir experiencia práctica a través de prácticas profesionales y proyectos académicos que me permitan aplicar mis conocimientos en programación, bases de datos y redes. A largo plazo, aspiro a convertirme en un ingeniero de software líder, capaz de diseñar y construir soluciones tecnológicas que optimicen procesos y mejoren la eficiencia en diversos sectores. Estoy comprometido con la mejora continua y la adaptación a las nuevas tendencias tecnológicas, lo que me permitirá contribuir significativamente a la transformación digital en cualquier organización donde trabaje..</p>

