@page
@model IndexModel


<h1>@ViewData["Title"]</h1>
<p>Hola, soy Zhi Ming Lei Zhong, estudiante de la carrera de ingeniería informática en la universidad Castro Carazo. Este portafolio muestra mis proyectos y habilidades.</p>
<h2>Mis Objetivos Profesionales</h2>
<p>Aspirar a [objetivos profesionales] en el campo de [tu área de especialización].</p>

