@page
@model SkillsModel
@{
    ViewData["Title"] = "Skills";
}
<h1>@ViewData["Title"]</h1>



<h2>Habilidades Técnicas</h2>
<ul>
  <li>Lenguajes de programación: C#, JavaScript, etc.</li>
  <li>Frameworks: ASP.NET Core, React, etc.</li>
  <li>Herramientas: Git, Docker, etc.</li>
</ul>

<h2>Habilidades Profesionales</h2>
<ul>
  <li>Trabajo en equipo</li>
  <li>Gestión de proyectos</li>
  <li>Comunicación efectiva</li>
</ul>
